<header>
    <nav class="mainnav">
        <div class="mainnav__logo">
            <a href="/products">
                <img src="" class="mainnav__logoimg" alt="">
            </a>
        </div>

        <nav class="mainnav__options">
            <ul>
                <li><a href="/products"></a>Catálogo</li>
                <li><a href="/products"></a>Más vendido</li>
                <li><a href="/products"></a>Ofertas</li>
            </ul>

        </nav>  
        <input type="search" class="mainnav__search" placeholder="Buscar...">
        <div class="mainnav__user">
            <img src="" alt="" class="mainnav__img">
        </div>

        <div class="mainnav__logo">
            <div class="mainnav__scart">
                <a href="/carro_de_compras"></a>
            <img src="" alt="" class="mainnav__img">
            <p class="mainnav__counterProducts"></p>
            </div>
        </div>

    </nav>
</header>

